.main-text {
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
}

.card-image {
    max-height: 1080px;
    max-width: 1920px;
    height: 90%;
    border-radius: 9px;
    align-self: center;
    object-fit: contain;
    width: 90%;
}

.card-title {
    border-bottom: 3px solid #6200EE;
    padding-bottom: 5px;
    width: 70%;
    align-self: center;
    border-radius: 7px;
}


#core-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

#core-values div {
    text-align: left;
}

.values {
    display:grid;
    grid-template-columns: minmax(30px , 800px) minmax(30px , 800px);
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}