body {
    padding-right: 3px;
    padding-left: 3px;
}

header {
    padding-right: 0;
    padding-left: 0;
}

.our-mission {
    opacity: 60%;
    margin-bottom: 0;
}

.main-image {
    border-radius: 9px;
    width: 100%;
}

.our-advantages {
    font-size: 25px;
}
